<div *isChrome>
  <div class="docs-example-viewer-wrapper">
    <mat-progress-bar
      class="example-margin" mode="indeterminate">
    </mat-progress-bar>
    <img src="./assets/clearup.jpg"   width="150px" height="120px"/>
    <div class="header-login">
        <h2>Login Details</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="UserName or email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
        <a class="login-button" mat-button routerLink="/home" routerLinkActive="active">Login</a>
    </form>
        <div style="padding-top: 10px"></div>
        <div>for New User? <a routerLink="/module" routerLinkActive="active"> Register Here</a></div>
        </div>
    </div>

  <!-- For mobile normal screen-->
</div>























  <!--<p *showItStandard="['iphone','ipad']">I'll show you if I'm a iPhone or ipad device.</p>
  <p *isIphone>I'll show you if I'm a iPhone device.</p>
  <p *isChrome>I'll show you if I'm a chrome browser.</p>
  <p *xl>I'll show you if I'm a xl screen size.</p>
  <p *lg>I'll show you if I'm a lg screen size.</p>
  <p *md>I'll show you if I'm a md screen size.</p>
  <p *sm>I'll show you if I'm a sm screen size.</p>
  <p *xs>I'll show you if I'm a xs screen size.</p>
-->
