.mat-toolbar.mat-primary {
  background: #1976d2;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  position: static;
}
.mat-toolbar {
  min-height: 64px;
  position: static;
  text-transform: uppercase;
}
.mat-toolbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  flex-direction: column;
  position: static;
}
a.nav-link {
  margin: 0;
  padding: 24px 16px;
  cursor: pointer;
}
a {
  font-size: 14px;
  color: #fff;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  text-transform: uppercase;
  /*padding: 21px 0;*/
}
.title{
  padding-left: 50px;
  font-size: 30px;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  position: static;
}
ul{z-index:100;margin:0;list-style-type:none}
ul li{float:left;}
ul li a{padding-left: 80px;}
/*ul li{display:block;color:#fff;font-size:12px;text-decoration:none;padding-left: 100px}*/
a:hover{color: #E2E4E6}
#firstone{padding-right: 380px;}

div {
  display: block;
  position: relative;
}
#wrapper {
  width: inherit;
  height: inherit;
}

#first {
  float:left;
  width: 200px;
  height: inherit;
  background: aliceblue;
}

#second {
  float:left;
  width: 60%;
  height: inherit;
  background: white;
}
#header {
  width: inherit;
  height: inherit;
}

#image-logo {
  float:left;
  width: 200px;
  height: inherit;
}

#title {
  float:left;
  width:80%;
}

.icon-arrange{
  position: static;
  padding: 20px;
  padding-left: 80px;
}
.example-fab.mat-mini-fab {
position: absolute;
  right: 20px;
  bottom: 10px;
}
.example-fab{
  position: absolute;
  left: 570px;
  top: 10px;
}
