<mat-toolbar class="app-toolbar mat-toolbar mat-primary" color="primary" role="toolbar">

  <ul role="navigation">
    <li><p class="title" title="EBPP">Electronic Bill Payment and
      Presentment </p></li>
  </ul>
</mat-toolbar>
<mat-toolbar class="app-toolbar mat-toolbar mat-primary" color="primary" role="toolbar">

  <ul role="navigation">
    <li><a  id="firstone" routerLink="/home" routerLinkActive="active" title="Features">Home</a></li>
    <li><a  id="firstone" routerLink="/home" routerLinkActive="active" title="Features">Home</a></li>
    <li><a  id="firstone" routerLink="/home" routerLinkActive="active" title="Features">Home</a></li>
    <li><a  id="firstone" routerLink="/home" routerLinkActive="active" title="Features">Home</a></li>

  </ul>
</mat-toolbar>

<!--<mat-sidenav-container  class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="example-scrolling-content">
      Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
      fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
      nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
    </div>
  </mat-sidenav>
  <div class="mat-tab-body-content">
    <h3>Hello Bhasdkl</h3>
  </div>
</mat-sidenav-container>-->
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <nav>
      <h3>Form control</h3>
    </nav>
  </mat-sidenav>
</mat-sidenav-container>
